<div id="content" >
  <sa-widgets-grid>

    <div class="row">

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>钻孔信息</h2>
            <div class="widget-toolbar">
              <button  class="btn btn-xs btn-default" routerLink="/quality/quality-drilling-view" >查看视图</button>
            </div>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <div class="table-responsive">
                <table class="table table-striped smart-form table-border-th table-height-20 ">
                  <thead class="table-responsive">
                  <tr>
                    <th rowspan="2">钻孔编号</th>
                    <th colspan="2" class="text-align-center">设计</th>
                    <th colspan="3" class="text-align-center">钻机</th>
                    <th colspan="2" class="text-align-center">PDA</th>
                    <th colspan="3" class="text-align-center">任务来源</th>
                    <th rowspan="2">所属采区</th>
                    <th rowspan="2">所属区块</th>
                    <th rowspan="2">一维码</th>
                  </tr>
                  <tr>
                    <th>设计钻孔坐标</th>
                    <th>设计人员</th>
                    <th>施工钻机</th>
                    <th>钻机定位坐标</th>
                    <th>钻机操作人员</th>
                    <th>PDA定位坐标</th>
                    <th>PDA操作人员</th>
                    <th>所属施工钻机任务</th>
                    <th>所属采样任务</th>
                    <th>所属选厂任务</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>116.380697,39.936846</td>
                    <td>李三</td>
                    <td>YL001</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0002</td>
                    <td>104.006251,30.637697</td>
                    <td>李三</td>
                    <td>YL002</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>104.216095,30.56608</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0003</td>
                    <td>116.380697,39.936846</td>
                    <td>李三</td>
                    <td>YL003</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0004</td>
                    <td>116.380697,39.936846</td>
                    <td>李三</td>
                    <td>YL004</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0005</td>
                    <td>116.380697,39.936846</td>
                    <td>李三</td>
                    <td>YL005</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0006</td>
                    <td>116.380697,39.936846</td>
                    <td>李三</td>
                    <td>YL006</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0007</td>
                    <td>116.380697,39.936846</td>
                    <td>李三</td>
                    <td>YL007</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0008</td>
                    <td>116.380697,39.936846</td>
                    <td>李三</td>
                    <td>YL008</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0009</td>
                    <td>104.216095,30.56608</td>
                    <td>李三</td>
                    <td>YL009</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0010</td>
                    <td>116.380697,39.936846</td>
                    <td>李三</td>
                    <td>YL010</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0011</td>
                    <td>104.216095,30.56608</td>
                    <td>李三</td>
                    <td>YL011</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0012</td>
                    <td>116.380697,39.936846</td>
                    <td>李三</td>
                    <td>YL012</td>
                    <td>116.422666,39.91737</td>
                    <td>马芸</td>
                    <td>116.36345,39.915156</td>
                    <td>张旭</td>
                    <td>钻机</td>
                    <td>采样</td>
                    <td>选厂</td>
                    <td>A区</td>
                    <td>B区</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共3条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>



    </div>



  </sa-widgets-grid>
</div>




<div class="slide-content"  [ngStyle]="{'display':xy_details?'block':'none'}" style="position: fixed; display: block; z-index: 9991;">
  <div class="entity-well entity-well--tasks">
    <div class="entity-well-header">
      <span class="approval-head">A0001
        <span ><span></span>
        </span>
      </span>
      <ul class="entity-well-header-nav nav s pull-right">
        <li class="divider-v"></li>
        <li><a class="entity-well-header-close"><i class="fa fa-times"></i></a></li>
      </ul>
    </div>
    <div class="entity-well-scroll height-nonav height-nonav--notab ng-scope wt-scroll select-y-auto">
      <div class="approve-top approve-intro">
        <div class="approve-formschema">
          <table class="table table-striped table-forum smart-form details-table">
            <tbody>
            <tr><td class="details-width">钻孔编号:</td><td >YL0001</td></tr>
            <tr><td class="details-width">设计钻孔坐标：</td><td >116.380697,39.936846</td></tr>
            <tr><td class="details-width">设计人员:</td><td >李三</td></tr>
            <tr><td class="details-width">施工钻机:</td><td >YL001</td></tr>
            <tr><td class="details-width">钻机定位坐标:</td><td >116.422666,39.91737</td></tr>
            <tr><td class="details-width">钻机操作人员:</td><td >马芸</td></tr>
            <tr><td class="details-width">PDA定位坐标:</td><td >116.36345,39.915156</td></tr>
            <tr><td class="details-width">PDA操作人员:</td><td >张旭</td></tr>
            <tr><td class="details-width">所属施工钻机任务:</td><td >钻机</td></tr>
            <tr><td class="details-width">所属采样任务:</td><td >采样</td></tr>
            <tr><td class="details-width">所属选厂任务:</td><td >选厂</td></tr>
            <tr><td class="details-width">所属采区:</td><td >A区</td></tr>
            <tr><td class="details-width">所属区块:</td><td >B区</td></tr>
            <tr><td class="details-width">一维码:</td>
              <td >
                <div >
                  <img alt="" class="img-picture" height="auto" width="100%" src="assets/img/qidashan/yw.jpg">
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>