<!--采矿质检系统-化验管理-->
<div id="content" >
  <sa-widgets-grid>

    <div class="row">

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>化验管理</h2>
            <div class="widget-toolbar">
              <button  class="btn btn-xs btn-default" routerLink="/quality/quality-assay-view" >查看视图</button>
            </div>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <div class="table-responsive">
                <table class="table table-striped smart-form table-border-th table-height-20 ">
                  <thead class="table-responsive">
                  <tr>
                    <th rowspan="2">化验编号</th>
                    <th rowspan="2">所属钻孔</th>
                    <th colspan="6" class="text-align-center">分析元素</th>
                    <th rowspan="2">化验人员</th>
                    <th rowspan="2">一维码</th>
                  </tr>
                  <tr>
                    <th>名称</th>
                    <th>含量</th>
                    <th>名称</th>
                    <th>含量</th>
                    <th>名称</th>
                    <th>含量</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>
                  <tr (click)="changedetails()">
                    <td>A0001</td>
                    <td>化验编号</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>元素</td>
                    <td>25</td>
                    <td>张三</td>
                    <td>
                      <div >
                        <img alt="" class="img-picture" height="22" width="40" src="assets/img/qidashan/yw.jpg">
                      </div>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共3条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>



    </div>



  </sa-widgets-grid>
</div>




<div class="slide-content"  [ngStyle]="{'display':xy_details?'block':'none'}" style="position: fixed; display: block; z-index: 9991;">
  <div class="entity-well entity-well--tasks">
    <div class="entity-well-header">
      <span class="approval-head">A0001
        <span ><span></span>
        </span>
      </span>
      <ul class="entity-well-header-nav nav s pull-right">
        <li class="divider-v"></li>
        <li><a class="entity-well-header-close"><i class="fa fa-times"></i></a></li>
      </ul>
    </div>
    <div class="entity-well-scroll height-nonav height-nonav--notab ng-scope wt-scroll select-y-auto">
      <div class="approve-top approve-intro">
        <div class="approve-formschema">
          <table class="table table-striped table-forum smart-form details-table">
            <tbody>
            <tr><td class="details-width">化验编号:</td><td >A0001</td></tr>
            <tr><td class="details-width">所属钻孔：</td><td >所属钻孔</td></tr>
            <tr><td class="details-width">元素:</td><td >元素</td></tr>
            <tr><td class="details-width">含量:</td><td >25</td></tr>
            <tr><td class="details-width">元素:</td><td >元素</td></tr>
            <tr><td class="details-width">含量:</td><td >25</td></tr>
            <tr><td class="details-width">元素:</td><td >元素</td></tr>
            <tr><td class="details-width">含量:</td><td >25</td></tr>
            <tr><td class="details-width">化验人员:</td><td >张三</td></tr>
            <tr><td class="details-width">一维码:</td>
              <td >
                <div >
                  <img alt="" class="img-picture" height="auto" width="100%" src="assets/img/qidashan/yw.jpg">
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>