<!--电动轮-交接班-->
<div id="content">
  <sa-widgets-grid>

    <div class="row">

      <div class="col-sm-12">
        <ul class="nav nav-tabs mi-nav-tabs">
          <li class="dropdown">
            <a  class="dropdown-toggle" data-toggle="dropdown">电动轮<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/ansteel-mining/tramcar-index">电动轮</a></li>
              <li class="divider"></li>
              <li><a routerLink="/ansteel-mining/tanktruck-index">油槽车</a></li>
              <li class="divider"></li>
              <li><a routerLink="/ansteel-mining/otherautomobile-index">外勤车</a></li>
              <li class="divider"></li>
              <li><a routerLink="/ansteel-mining/projectautomobile-index">工程车</a></li>
            </ul>
          </li>
          <li ><a routerLink="/ansteel-mining/tramcar-index">首页</a></li>
          <li><a routerLink="/ansteel-mining/tramcar-status">状态</a></li>
          <li><a routerLink="/ansteel-mining/tramcar-alarm" >报警</a></li>
          <li><a routerLink="/ansteel-mining/tramcar-task">最新任务</a></li>
          <li  class="active"><a routerLink="/ansteel-mining/tramcar-dutyshift">交接班</a></li>
          <li><a routerLink="/ansteel-mining/tramcar-fuelling">加油调度</a></li>
        </ul>

      </div>

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>交接班管理</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <div  class="">
                <table class="table table-striped smart-form table-height-20 ">
                  <thead class="">
                  <tr>
                    <th>设备编号</th>
                    <th>设备名称</th>
                    <th>当班人员</th>
                    <th>申请状态</th>
                    <th>时间 </th>
                    <th>加班地点 </th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr *ngFor="let dl of dutyshift_list?.approvalList?.data;let ind = index;" (click)="showDetails(dl.approval_id,0,(ind+1))" [ngClass]="((ind+1)==index)?class_name:''">
                    <td><span class="">{{ dl.assets_number }}</span></td>
                    <td><span class="">{{ dl.assets_name }}</span></td>
                    <td>{{dl.u_username}}</td>
                    <td>
                      <span class="label-normal"  *ngIf="dl.approval_status == 'yes'">已同意</span>
                      <span class="label-full"  *ngIf="dl.approval_status == 'no'">已拒绝</span>
                      <span class="label-full"  *ngIf="dl.approval_status == 'cancel'">已撤销</span>
                      <span class="label-maintain"  *ngIf="dl.approval_status != 'no' && dl.approval_status != 'yes' && dl.approval_status != 'cancel'">审批中</span>
                    </td>
                    <td>{{ dl.created_at }}</td>
                    <td>{{ dl.address | filter_string:'"' }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共{{dutyshift_list?.approvalList?.total}}条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm" *ngIf="dutyshift_list?.page != ''">
                    <li *ngFor="let p of dutyshift_list?.page" class="{{p.class}}">
                      <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                      <a *ngIf="p.method==''">{{p.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>
    </div>

  </sa-widgets-grid>
</div>

<div class="slide-content" [ngStyle]="{'display':xy_details?'block':'none'}" style="position: fixed; display: block; z-index: 9991;">
  <div class="entity-well entity-well--tasks">
    <div class="entity-well-header">
      <span class="approval-head">{{dutyshift_info.assets_number}}
        <span ><span>交接班</span>
        </span>
      </span>
      <ul class="entity-well-header-nav nav s pull-right" (click)="showDetails(0,0,0)">
        <li class="divider-v"></li>
        <li><a class="entity-well-header-close"><i class="fa fa-times"></i></a></li>
      </ul>
    </div>
    <div class="entity-well-scroll height-nonav height-nonav--notab ng-scope wt-scroll select-y-auto">
      <div class="approve-top approve-intro">
        <div class="approve-head" >
          <a class="approval-size" >
            {{dutyshift_info.u_username}}
          </a>
          <p class="username" >交接班审批</p>
          <p *ngIf="dutyshift_info.approval_status != 'no' && dutyshift_info.approval_status != 'yes' && dutyshift_info.approval_status != 'cancel'" class="text-warning" >
            等待审批中
          </p>
          <p class="text-success" *ngIf="dutyshift_info.approval_status == 'yes'">
            已同意
          </p>
          <p class="text-danger" *ngIf="dutyshift_info.approval_status == 'no'">
            已拒绝
          </p>
          <p class="text-primary" *ngIf="dutyshift_info.approval_status == 'cancel'">
            已撤销
          </p>
        </div>
        <!-- 已同意-->
        <div class="approve-result agree pullout" *ngIf="dutyshift_info.approval_status == 'yes'"></div>
        <!--已拒绝-->
        <div class="approve-result refuse pullout" *ngIf="dutyshift_info.approval_status == 'no'"></div>
        <!--已撤销-->
        <div class="approve-result revoke pullout" *ngIf="dutyshift_info.approval_status == 'cancel'"></div>
        <div class="approve-formschema">
          <table class="table table-striped table-forum smart-form details-table">
            <tbody>
            <tr><td class="details-width">设备编号:</td><td class="">{{dutyshift_info.assets_number}}</td></tr>
            <tr><td class="details-width">设备名称：</td><td >{{dutyshift_info.assets_name}}</td></tr>
            <tr><td class="details-width">当班人员:</td><td >{{dutyshift_info.u_username}}</td></tr>
            <tr><td class="details-width">时间:</td><td>{{ dutyshift_info.created_at }}</td></tr>
            <tr *ngIf="dutyshift_info.address"><td class="details-width">加班地点:</td><td >{{dutyshift_info.address | filter_string : '"'}}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="approve-foot show ">
        <div class="tFlexbox tAlignCenter tJustifyCenter">
          <div class="tFlex1 approval-action tTap agree" (click)="showModal('operation','ok')" *ngIf="uid == dutyshift_info.approval_status">同意</div>
          <div class="tFlex1 approval-action tTap refuse" (click)="showModal('operation','no')" *ngIf="uid == dutyshift_info.approval_status">拒绝</div>
          <div class="tFlex1 approval-action tTap reminders" (click)="showModal('urge','urge')" *ngIf="uid == dutyshift_info.u_id && dutyshift_info.approval_status != 'yes' && dutyshift_info.approval_status != 'no' && dutyshift_info.approval_status != 'cancel'">催办</div>
          <div class="tFlex1 approval-action tTap revoke"  (click)="showModal('cancel','cancel')" *ngIf="uid == dutyshift_info.u_id && dutyshift_info.approval_status != 'yes' && dutyshift_info.approval_status != 'no' && dutyshift_info.approval_status != 'cancel'">撤销</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--同意-->
<!--拒绝-->
<div class="modal fade bs-example-modal-sm" bsModal #operationModel="bs-modal" style="z-index:9992;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="hideModal()">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="text-align-center">
          <h2  *ngIf="operate_button_type == 'ok'">同意</h2>
          <h2  *ngIf="operate_button_type == 'no'">拒绝</h2>
        </div>
      </div>
      <div class="modal-footer tex-align-center">
        <button type="button" class="btn btn-primary" (click)="setModal()">确定</button>
      </div>
    </div>
  </div>
</div>



<!--催办-->
<div class="modal fade bs-example-modal-sm" bsModal #urgeModel="bs-modal" style="z-index:9992;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="hideModal()">
          ×
        </button>

      </div>
      <div class="modal-body">
        <div class="text-align-center">
          <h2 >你确定要发送改消息吗？</h2>
        </div>
      </div>
      <div class="modal-footer tex-align-center">
        <button type="button" class="btn btn-primary" (click)="setModal()">确定</button>
      </div>
    </div>
  </div>
</div>


<!--撤销-->
<div class="modal fade bs-example-modal-sm" bsModal #cancelModel="bs-modal" style="z-index:9992;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="hideModal()">
          ×
        </button>

      </div>
      <div class="modal-body">
        <div class="text-align-center">
          <h2 >你确定要撤销本次申请吗？</h2>
        </div>
      </div>
      <div class="modal-footer tex-align-center">
        <button type="button" class="btn btn-primary" (click)="setModal()">确定</button>
      </div>
    </div>
  </div>
</div>

