<!--采矿能源智能管理单元-油量情况-->


<div id="content">
    <sa-widgets-grid>

        <div class="row">

            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" >
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>油量情况</h2>
                    </header>

                    <div>
                        <!--小部件内容-->
                        <div class="widget-body no-padding">
                            <div  class="row">
                                <article  class="col-sm-12">
                                    <div class="navbar navbar-default">
                                        <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched " novalidate="" role="search" >
                                            <div class="form-group pdlr-4">
                                                <strong> 筛选：</strong>
                                            </div>
                                            <div class="form-group pdlr-4">
                                                <strong> 时间选择：</strong>
                                            </div>
                                            <div class="form-group btn-group pdlr-4">
                                                <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="" placeholder="" type="text">

                                            </div>
                                            <div class="form-group pdlr-4">
                                                <strong> 至</strong>
                                            </div>
                                            <div class="form-group btn-group pdlr-4 dropdown">
                                                <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="" placeholder="" type="text">
                                            </div>
                                            <div class="form-group pdlr-4">
                                                <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" placeholder="请输入搜索内容" type="text">
                                            </div>
                                            <div class="form-group pdlr-4">
                                                <button class="btn btn-default" type="button" (click)="getAssetsList(1,0)">
                                                    <i  class="glyphicon glyphicon-search"></i>
                                                    搜索
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </article>
                            </div>
                            <div class="">
                                <table class="table table-striped smart-form table-height-20">
                                    <thead class="">
                                    <tr>
                                        <th>设备编码</th>
                                        <th>设备名称 </th>
                                        <th>当前剩余油量</th>
                                        <th>使用详情</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- class="table-color"-->
                                    <tr  (click)="changedetails()">
                                        <td>A0001</td>
                                        <td>油站</td>
                                        <td>100</td>
                                        <td>2019/01/18使用了200L</td>
                                    </tr>
                                    <tr (click)="changedetails()" >
                                        <td>A0001</td>
                                        <td>油槽车</td>
                                        <td>100</td>
                                        <td>2019/01/18使用了200L</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- 底部-（分页部分）-->
                            <div class="dt-toolbar">
                                <div class="dib-left">
                                    <span>共3条</span>
                                </div>
                                <div class="hidden-xs right">
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled">
                                            <a href="">上一页</a>
                                        </li>
                                        <li class="active">
                                            <a href="">1</a>
                                        </li>
                                        <li >
                                            <a href="">2</a>
                                        </li>
                                        <li>
                                            <a href="">...</a>
                                        </li>
                                        <li>
                                            <a href="">99</a>
                                        </li>
                                        <li>
                                            <a href="">下一页</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>




                        </div>
                    </div>

                </sa-widget>
            </article>

        </div>



    </sa-widgets-grid>
</div>

<div class="slide-content"  [ngStyle]="{'display':xy_details?'block':'none'}" style="position: fixed; display: block; z-index: 9991;">
    <div class="entity-well entity-well--tasks">
        <div class="entity-well-header">
      <span class="approval-head">A0001
        <span >油站
        </span>
      </span>
            <ul class="entity-well-header-nav nav s pull-right">
                <li class="divider-v"></li>
                <li><a class="entity-well-header-close"><i class="fa fa-times"></i></a></li>
            </ul>
        </div>
        <div class="entity-well-scroll height-nonav height-nonav--notab ng-scope wt-scroll select-y-auto">
            <div class="approve-top approve-intro">
                <div class="approve-formschema">
                    <table class="table table-striped table-forum smart-form details-table">
                        <tbody>
                        <tr><td class="details-width">设备编码:</td><td class="">A0001</td></tr>
                        <tr><td class="details-width">设备名称：</td><td >油站</td></tr>
                        <tr><td class="details-width">当前剩余油量:</td><td >100</td></tr>
                        <tr><td class="details-width">使用详情:</td>
                            <td >
                                <div>2019/01/18使用了200L，剩余100L</div>
                                <div>2019/01/18使用了200L，剩余300L</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>