<div id="content" >
  <sa-widgets-grid>

    <div class="row">

      <div class="col-sm-12">
        <div class="text-align-center">
          <div class="tab-list ">
            <ul>
              <li class="tab-li " routerLink="/style/style-dashboard">dashboard</li>
              <li class="tab-li   tab-list-active"  routerLink="/style/style-table">table</li>
              <li class="tab-li" routerLink="/style/style-form">form</li>
              <li class="tab-li" routerLink="/style/style-layouts">layouts</li>
              <li class="tab-li " routerLink="/style/style-color">color</li>
              <li class="tab-li" routerLink="/style/style-buttons">buttons</li>
              <li class="tab-li" routerLink="/style/style-editors">editors</li>
              <li class="tab-li" routerLink="/style/style-carousel">carousel</li>
              <li class="tab-li" routerLink="/style/style-gis">gis</li>
              <li class="tab-li" routerLink="/style/style-view">view</li>
              <li class="tab-li" routerLink="/style/style-scada">scada</li>
              <li class="tab-li" routerLink="/style/style-awesome-icons">awesome-icons</li>
              <li class="tab-li" routerLink="/style/style-glyph-icons">glyph-icons</li>
            </ul>
          </div>
        </div>
      </div>

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-bell"></i> </span>
            <h2>报警</h2>
          </header>

          <div>
            <!--小部件内容-->
            <div class="widget-body no-padding">
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched " novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                        <strong> 筛选：</strong>
                      </div>
                      <div class="form-group pdlr-4">
                        <strong> 时间选择：</strong>
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="" placeholder="" type="text">

                      </div>
                      <div class="form-group pdlr-4">
                        <strong> 至</strong>
                      </div>
                      <div class="form-group btn-group pdlr-4 dropdown">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="" placeholder="" type="text">
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <a class="btn default-btn btn-sm dropdown-toggle" data-toggle="dropdown">
                          全部<i class="fa fa-fw fa-chevron-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li ><a >全部</a></li>
                          <li ><a>编号</a></li>
                          <li ><a >故障类型</a></li>
                        </ul>
                      </div>
                      <div class="form-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" placeholder="请输入搜索内容" type="text">
                      </div>
                      <div class="form-group pdlr-4">
                        <button class="btn btn-default" type="button" (click)="getAssetsList(1,0)">
                          <i  class="glyphicon glyphicon-search"></i>
                          搜索
                        </button>
                      </div>
                    </form>
                  </div>
                </article>
              </div>
              <div class="">
                <table class="table table-striped smart-form table-height-20">
                  <thead class="">
                  <tr>
                    <th>序号</th>
                    <th>编码 </th>
                    <th>设备种类</th>
                    <th>报警项目</th>
                    <th>报警内容</th>
                    <th>报警时间</th>
                    <th>报警地点</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr  (click)="changedetails()">
                    <td>1</td>
                    <td>A1001</td>
                    <td>牙轮钻机 </td>
                    <td><i  class="fa fa-circle text-danger font-xs">机械故障</i> </td>
                    <td>报警内容报警内容报警内容报警内容报警内容报警内容</td>
                    <td>2019-01-15 12：30</td>
                    <td>地点地点地点地点地点地点</td>
                  </tr>
                  <tr (click)="changedetails()" >
                    <td>2</td>
                    <td>A1002</td>
                    <td>牙轮钻机 </td>
                    <td><i  class="fa fa-circle text-danger font-xs">机械故障</i> </td>
                    <td>报警内容报警内容报警内容报警内容报警内容报警内容</td>
                    <td>2019-01-15 12：30</td>
                    <td>地点地点地点地点地点地点</td>

                  </tr>
                  </tbody>
                </table>

              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共3条</span>
                </div>
                <div class="hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>




            </div>
          </div>

        </sa-widget>
      </article>


      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>取样化验分析</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <div style="padding:0;" class="height-overflow">
                <div  class="table-responsive">
                  <table class="table table-bordered table-border smart-form table-height-20 text-align-center">
                    <thead>
                    <tr>
                      <th>钻孔编号</th>
                      <th>设计钻孔坐标</th>
                      <th>钻机编号 </th>
                      <th>钻机钻孔定位坐标</th>
                      <th>PDA编号 </th>
                      <th>操作人员 </th>
                      <th>PDA钻孔定位坐标</th>
                      <th>分析元素</th>
                      <th>化验分析结果</th>
                      <th>二维码生成并打印</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ><!-- class="table-color"-->
                      <td ><span class="">A0001</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="">A0001</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="">A0001</span></td>
                      <td><span class="" >张三</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="" >铁</span></td>
                      <td><span class="" >28%</span></td>
                      <td><div class="" style="height:auto;" data-toggle="modal" data-target="#myModal">
                        <img  alt=""  height="22" width="22" class="img-picture"  src="assets/img/qidashan/ew.png">
                      </div>
                      </td>
                    </tr>
                    <tr >
                      <td ><span class="">A0002</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="">A0001</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="">A0001</span></td>
                      <td><span class="" >张三</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="" >铁</span></td>
                      <td><span class="" >28%</span></td>
                      <td><div class="" style="height:auto;" data-toggle="modal" data-target="#myModal">
                        <img  alt=""  height="22" width="22" class="img-picture"  src="assets/img/qidashan/ew.png">
                      </div>
                      </td>
                    </tr>
                    <tr >
                      <td ><span class="">A0003</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="">A0001</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="">A0001</span></td>
                      <td><span class="" >张三</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="" >铁</span></td>
                      <td><span class="" >28%</span></td>
                      <td><div class="" style="height:auto;" data-toggle="modal" data-target="#myModal">
                        <img  alt=""  height="22" width="22" class="img-picture"  src="assets/img/qidashan/ew.png">
                      </div>
                      </td>
                    </tr>
                    <tr >
                      <td ><span class="">A0004</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="">A0001</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="">A0001</span></td>
                      <td><span class="" >张三</span></td>
                      <td><span class="">116.307629,40.058359</span></td>
                      <td><span class="" >铁</span></td>
                      <td><span class="" >28%</span></td>
                      <td><div class="" style="height:auto;" data-toggle="modal" data-target="#myModal">
                        <img  alt=""  height="22" width="22" class="img-picture"  src="assets/img/qidashan/ew.png">
                      </div>
                      </td>
                    </tr>


                    </tbody>
                  </table>
                </div>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共3条</span>
                </div>
                <div class="hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li>
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">3</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>



      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>司机行驶数据</h2>
            <div class="widget-toolbar">
              <button  class="btn btn-xs btn-default"  routerLink="/energy/energy-driver-data">查看详情</button>
            </div>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <div  class="">
                <table class="table table-striped smart-form table-height-20 ">
                  <thead class="">
                  <tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>部门 </th>
                    <th>驾龄</th>
                    <th>事故（数）</th>
                    <th>超速 </th>
                    <th>油耗 </th>
                    <th>行驶里程 </th>
                    <th>平均时速 </th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr  >
                    <td>1</td>
                    <td>张三</td>
                    <td>部门</td>
                    <td>10</td>
                    <td>2</td>
                    <td>11</td>
                    <td>30</td>
                    <td>10</td>
                    <td>2</td>
                  </tr>
                  <tr  >
                    <td>1</td>
                    <td>张三</td>
                    <td>部门</td>
                    <td>10</td>
                    <td>2</td>
                    <td>11</td>
                    <td>30</td>
                    <td>10</td>
                    <td>2</td>
                  </tr>
                  <tr  >
                    <td>2</td>
                    <td>张三</td>
                    <td>部门</td>
                    <td>10</td>
                    <td>2</td>
                    <td>11</td>
                    <td>30</td>
                    <td>10</td>
                    <td>2</td>
                  </tr>
                  <tr  >
                    <td>3</td>
                    <td>张三</td>
                    <td>部门</td>
                    <td>10</td>
                    <td>2</td>
                    <td>11</td>
                    <td>30</td>
                    <td>10</td>
                    <td>2</td>
                  </tr>
                  <tr  >
                    <td>4</td>
                    <td>张三</td>
                    <td>部门</td>
                    <td>10</td>
                    <td>2</td>
                    <td>11</td>
                    <td>30</td>
                    <td>10</td>
                    <td>2</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共3条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>




    </div>



  </sa-widgets-grid>
</div>

<div class="slide-content"  [ngStyle]="{'display':xy_details?'block':'none'}" style="position: fixed; display: block; z-index: 9991;">
  <div class="entity-well entity-well--tasks">
    <div class="entity-well-header">
      <span class="approval-head">A0002
        <span ><span>牙轮钻机报警信息</span>
        </span>
      </span>
      <ul class="entity-well-header-nav nav s pull-right">
        <li class="divider-v"></li>
        <li><a class="entity-well-header-close"><i class="fa fa-times"></i></a></li>
      </ul>
    </div>
    <div class="entity-well-scroll height-nonav height-nonav--notab ng-scope wt-scroll select-y-auto">
      <div class="approve-top approve-intro">
        <div class="approve-formschema">
          <table class="table table-striped table-forum smart-form details-table">
            <tbody>
            <tr><td class="details-width">序号:</td><td class="">2</td></tr>
            <tr><td class="details-width">编码：</td><td >A0002</td></tr>
            <tr><td class="details-width">设备种类:</td><td >牙轮钻机</td></tr>
            <tr><td class="details-width">报警项目:</td><td ><i  class="fa fa-circle text-danger font-xs">机械故障</i></td></tr>
            <tr><td class="details-width">报警内容:</td><td >报警内容报警内容报警内容报警内容报警内容报警内容</td></tr>
            <tr><td class="details-width">报警时间:</td><td >2019-01-15 12：30</td></tr>
            <tr><td class="details-width">报警地点:</td><td >地点地点地点地点地点地点</td></tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'></h3>
        <!-- <h4 class="modal-title" id="myModalLabel">
            模态框（Modal）标题
        </h4> -->
      </div>
      <div class="modal-body">
        <div class="text-align-center">
          <img  alt=""  height="200" width="200" class="img-picture"  src="assets/img/qidashan/ew.png">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-ng-click="ok()" data-dismiss="modal">保存为图片</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>



<div class="slide-content"  style="position: fixed; display: none; z-index: 9991;">
  <div class="entity-well entity-well--tasks">
    <div class="entity-well-header">
      <span class="approval-head">A0001
        <span ><span>取样化验分析</span>
        </span>
      </span>
      <ul class="entity-well-header-nav nav s pull-right">
        <li class="divider-v"></li>
        <li><a class="entity-well-header-close"><i class="fa fa-times"></i></a></li>
      </ul>
    </div>
    <div class="entity-well-scroll height-nonav height-nonav--notab ng-scope wt-scroll select-y-auto">
      <div class="approve-top approve-intro">
        <div class="approve-formschema">
          <P class="alert alert-info">基本信息</P>
          <table class="table table-striped table-forum">
            <tbody>
            <tr>
              <td class="width-120">钻孔编号:</td>
              <td class="">A0003</td>
              <td class="width-120">设计钻孔坐标:</td>
              <td class="">116.307629,40.058359</td>
            </tr>
            <tr>
              <td class="width-120">钻机编号:</td>
              <td >A0001</td>
              <td class="width-120">钻机钻孔定位坐标:</td>
              <td class="">116.307629,40.058359</td>
            </tr>
            <tr>
              <td class="width-120">PDA编号：</td>
              <td >A0001</td>
              <td class="width-120">操作人员:</td>
              <td class="">张三</td>
            </tr>
            <tr>
              <td class="width-120">PDA钻孔定位坐标:</td>
              <td >116.307629,40.058359</td>
              <td class="width-120">分析元素:</td>
              <td class="">铁</td>
            </tr>
            <tr>
              <td class="width-120">化验分析结果:</td>
              <td class="" colspan="3">28%</td>
            </tr>
            <tr>
              <td class="width-120">二维码生成并打印:</td>
              <td class="" colspan="3">
                <div class="" style="height:auto;" >
                  <img  alt=""  height="200" width="200" class="img-picture"  src="assets/img/qidashan/ew.png">
                </div>
                <button type="button" class="btn btn-primary mg-t10" >保存为图片</button>
              </td>
            </tr>
            </tbody>
          </table>
          <!--<div class="line component-textareafield"><label class="label">所在部门:</label><span></span></div>-->
          <!--<div class="line component-textfield"><label class="label">请假类型:</label><span>调休</span></div>-->
          <!--<div class="line component-textfield"><label class="label">开始时间:</label><span>2018-04-11</span></div>-->
          <!--<div class="line component-textfield"><label class="label">结束时间:</label><span>2018-04-21</span></div>-->
          <!--<div class="line component-textfield"><label class="label">请假天数:</label><span>10</span></div>-->
          <!--<div class="line component-textfield"><label class="label">请假事由:</label><span>dsafdsadf</span></div>-->
          <!--<div class="line component-ddphotofield"><label class="label">图片:</label><div class="picture mb-20"></div></div>-->
        </div>
      </div>
    </div>
    <div class="body">
      <div class="approve-foot show ">
        <div class="tFlexbox tAlignCenter tJustifyCenter"></div>
      </div>
    </div>
  </div>
</div>