<!--采矿综合管理单元-当前进度表-->

<div id="content">
    <sa-widgets-grid>

        <div class="row">

            <article class="col-sm-12 ">
                <sa-widget [editbutton]="false" [deletebutton]="false" >
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>进度表</h2>
                    </header>

                    <div>
                        <!--小部件内容-->
                        <div class="widget-body no-padding">
                            <div class="">
                                <table class="table table-striped smart-form table-height-20">
                                    <thead class="">
                                    <tr>
                                        <th>项目名称</th>
                                        <th>类型 </th>
                                        <th>进度</th>
                                        <th>截止时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- class="table-color"-->
                                    <tr  (click)="changedetails()">
                                        <td>矿石</td>
                                        <td>矿石</td>
                                        <td>40% </td>
                                        <td>2019-01-18 12：30</td>
                                    </tr>
                                    <tr (click)="changedetails()" >
                                        <td>矿石</td>
                                        <td>矿石</td>
                                        <td>60% </td>
                                        <td>2019-01-18 12：30</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- 底部-（分页部分）-->
                            <div class="dt-toolbar">
                                <div class="dib-left">
                                    <span>共3条</span>
                                </div>
                                <div class="hidden-xs right">
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled">
                                            <a href="">上一页</a>
                                        </li>
                                        <li class="active">
                                            <a href="">1</a>
                                        </li>
                                        <li >
                                            <a href="">2</a>
                                        </li>
                                        <li>
                                            <a href="">...</a>
                                        </li>
                                        <li>
                                            <a href="">99</a>
                                        </li>
                                        <li>
                                            <a href="">下一页</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>




                        </div>
                    </div>

                </sa-widget>
            </article>

        </div>



    </sa-widgets-grid>
</div>

<div class="slide-content"  [ngStyle]="{'display':xy_details?'block':'none'}" style="position: fixed; display: block; z-index: 9991;">
    <div class="entity-well entity-well--tasks">
        <div class="entity-well-header">
      <span class="approval-head">A0002
        <span ><span>矿石</span>
        </span>
      </span>
            <ul class="entity-well-header-nav nav s pull-right">
                <li class="divider-v"></li>
                <li><a class="entity-well-header-close"><i class="fa fa-times"></i></a></li>
            </ul>
        </div>
        <div class="entity-well-scroll height-nonav height-nonav--notab ng-scope wt-scroll select-y-auto">
            <div class="approve-top approve-intro">
                <div class="approve-formschema">
                    <table class="table table-striped table-forum smart-form details-table">
                        <tbody>
                        <tr><td class="details-width">项目名称:</td><td class="">矿石</td></tr>
                        <tr><td class="details-width">类型：</td><td >矿石</td></tr>
                        <tr><td class="details-width">进度:</td><td >20%</td></tr>
                        <tr><td class="details-width">截止时间:</td><td >2019-01-18 12：30</td></tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>