<!--牙轮生产智能指挥模块-交接班-->
<div id="content">
  <sa-widgets-grid>

    <div class="row">

      <div class="col-sm-12">
        <ul class="nav nav-tabs mi-nav-tabs">
          <li ><a routerLink="/ansteel-mining/drilling-index">首页</a></li>
          <li><a routerLink="/ansteel-mining/drilling-status">状态</a></li>
          <li><a routerLink="/ansteel-mining/drilling-alarm">报警</a></li>
          <li><a routerLink="/ansteel-mining/drilling-task">最新任务</a></li>
          <li class="active"><a routerLink="/ansteel-mining/drilling-dutyshift">交接班</a></li>
          <li><a routerLink="/ansteel-mining/drilling-fuelling">加油调度</a></li>
        </ul>
      </div>

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>交接班管理</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >


              <div  class="">
                  <table class="table table-striped smart-form table-height-20 ">
                    <thead class="">
                    <tr>
                      <th>设备编号</th>
                      <th>设备名称</th>
                      <th>上一班人员 </th>
                      <th>当班人员</th>
                      <th>申请状态</th>
                      <th>时间 </th>
                      <th>加班地点 </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- class="table-color"-->
                    <tr   (click)="changedetails()">
                      <td>A1001</td>
                      <td>牙轮钻机</td>
                      <td>张三</td>
                      <td>李四</td>
                      <td>
                        <div>
                          <span class="label-maintain" >审核中</span>
                          <span class="label-normal" style="display:none;">已同意</span>
                          <span  class="label-full" style="display:none;">已拒绝</span>
                          <span  class="label-full" style="display:none;">已作废</span>
                        </div>
                      </td>
                      <td>2019-01-15 12：30</td>
                      <td>A区</td>
                    </tr>
                    <tr   (click)="changedetails()">
                      <td>A1002</td>
                      <td>牙轮钻机</td>
                      <td>张三</td>
                      <td>李四</td>
                      <td>
                        <div>
                          <span class="label-maintain" >审核中</span>
                          <span class="label-normal" style="display:none;">已同意</span>
                          <span  class="label-full" style="display:none;">已拒绝</span>
                          <span  class="label-full" style="display:none;">已作废</span>
                        </div>
                      </td>
                      <td>2019-01-15 12：30</td>
                      <td>A区</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共3条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>


    </div>




  </sa-widgets-grid>
</div>

<div class="slide-content"  [ngStyle]="{'display':xy_details?'block':'none'}" style="position: fixed; display: block; z-index: 9991;">
  <div class="entity-well entity-well--tasks">
    <div class="entity-well-header">
      <span class="approval-head">A0002
        <span ><span>牙轮钻机交接班</span>
        </span>
      </span>
      <ul class="entity-well-header-nav nav s pull-right">
        <li class="divider-v"></li>
        <li><a class="entity-well-header-close"><i class="fa fa-times"></i></a></li>
      </ul>
    </div>
    <div class="entity-well-scroll height-nonav height-nonav--notab ng-scope wt-scroll select-y-auto">
      <div class="approve-top approve-intro">
        <div class="approve-head" >
          <a class="approval-size" >
            赵三
          </a>
          <p class="username" >交接班审批</p>
          <p class="text-warning" style="display:none;" >
            等待审批中
          </p>
          <p class="text-success"  >
            已同意
          </p>
          <p class="text-danger" style="display:none;">
            已拒绝
          </p>
          <p class="text-primary" style="display:none;">
            已撤销
          </p>
          <p class="text-danger" style="display:none;">
            已作废
          </p>
        </div>
        <!-- 已同意-->
        <div class="approve-result agree pullout" ></div>
        <!--已拒绝-->
        <div class="approve-result refuse pullout" style="display:none;"></div>
        <!--已撤销-->
        <div class="approve-result revoke pullout" style="display:none;"></div>
        <div class="approve-formschema">
          <table class="table table-striped table-forum smart-form details-table">
            <tbody>
            <tr><td class="details-width">设备编号:</td><td class="">A1002</td></tr>
            <tr><td class="details-width">设备名称：</td><td >牙轮钻机</td></tr>
            <tr><td class="details-width">上一班人员:</td><td >张三</td></tr>
            <tr><td class="details-width">当班人员:</td><td >李四</td></tr>
            <tr><td class="details-width">时间:</td><td >2019-01-15 12：30</td></tr>
            <tr><td class="details-width">加班地点:</td><td >A区</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="approve-foot show ">
        <div class="tFlexbox tAlignCenter tJustifyCenter">
          <div class="tFlex1 approval-action tTap agree" data-toggle="modal" data-target="#myModal-consent">同意</div>
          <div class="tFlex1 approval-action tTap refuse" data-toggle="modal" data-target="#myModal-reject">拒绝</div>
          <div class="tFlex1 approval-action tTap reminders"  data-toggle="modal" data-target="#cuiban" >催办</div>
          <div class="tFlex1 approval-action tTap revoke" data-toggle="modal" data-target="#myModal-withdraw"  >撤销</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--同意-->
<div class="modal fade bs-example-modal-sm" id="myModal-consent"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="z-index:9992;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>

      </div>
      <div class="modal-body">
        <div class="text-align-center">
          <h2 >同意</h2>
        </div>
      </div>
      <div class="modal-footer tex-align-center">
        <button type="button" class="btn btn-primary" data-ng-click="ok()" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

<!--拒绝-->
<div class="modal fade bs-example-modal-sm" id="myModal-reject" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="z-index:9992;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>

      </div>
      <div class="modal-body">
        <div class="text-align-center">
          <h2 >拒绝</h2>
        </div>
      </div>
      <div class="modal-footer tex-align-center">
        <button type="button" class="btn btn-primary" data-ng-click="ok()" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>


<!--催办-->
<div class="modal fade bs-example-modal-sm" id="cuiban" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="z-index:9992;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>

      </div>
      <div class="modal-body">
        <div class="text-align-center">
          <h2 >你确定要发送改消息吗？</h2>
        </div>
      </div>
      <div class="modal-footer tex-align-center">
        <button type="button" class="btn btn-primary" data-ng-click="ok()" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>


<!--撤销-->
<div class="modal fade bs-example-modal-sm" id="myModal-withdraw" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="z-index:9992;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>

      </div>
      <div class="modal-body">
        <div class="text-align-center">
          <h2 >你确定要撤销本次申请吗？</h2>
        </div>
      </div>
      <div class="modal-footer tex-align-center">
        <button type="button" class="btn btn-primary" data-ng-click="ok()" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

