<!--采矿综合信息管理模块（GIS）-->

<div id="content" >
  <sa-widgets-grid>

    <div class="row">

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>生产计划</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched " novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                        <strong> 时间选择：</strong>
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="" placeholder="" type="text">

                      </div>
                      <div class="form-group pdlr-4">
                        <strong> 至</strong>
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="" placeholder="" type="text">
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <a class="btn default-btn btn-sm dropdown-toggle" data-toggle="dropdown">
                          日计划<i class="fa fa-fw fa-chevron-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li ><a >日计划</a></li>
                          <li ><a>周计划</a></li>
                          <li ><a >月计划</a></li>
                          <li ><a >季计划</a></li>
                          <li ><a >年计划</a></li>
                        </ul>
                      </div>
                      <!--<div class="form-group pdlr-4">-->
                      <!--<input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" placeholder="请输入搜索内容" type="text">-->
                      <!--</div>-->
                      <!--<div class="form-group pdlr-4">-->
                      <!--<button class="btn btn-default" type="button" (click)="getAssetsList(1,0)">-->
                      <!--<i  class="glyphicon glyphicon-search"></i>-->
                      <!--搜索-->
                      <!--</button>-->
                      <!--</div>-->
                    </form>
                  </div>
                </article>
              </div>

              <div  class="table-responsive" >
                <table class="table table-striped smart-form table-border-th table-height-20">
                  <thead >
                  <tr style="border-top: 1px solid #ddd;">
                    <th  rowspan="3">计划</th>
                    <th rowspan="3">日期</th>
                    <th rowspan="3">采剥总量</th>
                    <th rowspan="3">资产总量</th>
                    <th rowspan="3">矿石</th>
                    <th colspan="6" class="text-align-center">岩石</th>
                    <th rowspan="3">矿石破碎</th>
                    <th rowspan="3">岩石破碎</th>
                    <th rowspan="3">北破</th>
                    <th rowspan="3">北破输出</th>
                    <th rowspan="3">铁运量</th>
                    <th rowspan="3">穿孔米道</th>
                    <th rowspan="3">潜孔钻米道</th>
                    <th rowspan="3">爆破量</th>
                    <th colspan="3"  class="text-align-center">调选供矿</th>
                    <th rowspan="3">辅料量</th>
                    <th rowspan="3">分流量</th>
                  </tr>
                  <tr>
                    <th rowspan="2">总量</th>
                    <th rowspan="2">资产</th>
                    <th colspan="4"  class="text-align-center">外委</th>
                    <th rowspan="2">小计</th>
                    <th rowspan="2">采场供矿</th>
                    <th rowspan="2">鞍千供调选</th>
                  </tr>
                  <tr>
                    <th >小计</th>
                    <th >东邦南</th>
                    <th >东邦北</th>
                    <th >西邦</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>
                  <tr >
                    <td  >日计划</td>
                    <td  >2019-01-17 12：00</td>
                    <td  >22522</td>
                    <td  >454554555</td>
                    <td  >4545545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >55555</td>
                    <td  >5545</td>
                    <td  >5455454</td>
                    <td  >5455454</td>
                    <td  >45777</td>
                    <td  >7778</td>
                    <td  >45454</td>
                    <td  >787878</td>
                    <td  >8787878</td>
                    <td  >7875552</td>
                    <td  >787878</td>
                    <td  >7878755</td>
                    <td  >22121</td>
                    <td  >2121</td>
                    <td  >2475111</td>
                    <td  >21100</td>
                    <td  >1242121</td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共30条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>布孔计划</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >


              <div  class="">
                <table class="table table-striped smart-form table-height-20 ">
                  <thead class="">
                  <tr>
                    <th>日期</th>
                    <th>布孔采区</th>
                    <th>钻孔编号及位置 </th>
                    <th>倾斜角度</th>
                    <th>钻孔深度</th>
                    <th>所需钻机数 </th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>A区</td>
                    <td>YL：位置</td>
                    <td>45</td>
                    <td>100</td>
                    <td>2</td>
                  </tr>

                  </tbody>
                </table>
              </div>

              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共35条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>爆破计划</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >


              <div  class="">
                <table class="table table-striped smart-form table-height-20 ">
                  <thead class="">
                  <tr>
                    <th>日期</th>
                    <th>时间</th>
                    <th>爆破采区 </th>
                    <th>爆破位置</th>
                    <th>填装炸药量</th>
                    <th>爆破人员 </th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>张三</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>张三</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>张三</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>张三</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>李四</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>张三</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>张三</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>李四</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>张三</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>张三</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>李四</td>
                  </tr>
                  <tr>
                    <td>2019-01-15</td>
                    <td>12：30</td>
                    <td>A区</td>
                    <td>位置</td>
                    <td>100</td>
                    <td>张三</td>
                  </tr>

                  </tbody>
                </table>
              </div>

              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共35条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>


      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>爆破计划</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >


              <div  class="">
                <table class="table table-striped smart-form table-height-20 ">
                  <thead class="">
                  <tr>
                    <th>区块编号</th>
                    <th>所属采区</th>
                    <th>平均品位 </th>
                    <th>总方量</th>
                    <th>剥采比</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>1001</td>
                    <td>A区</td>
                    <td>45</td>
                    <td>2000</td>
                    <td>20%</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共35条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>




      
    </div>

    
  </sa-widgets-grid>
</div>

