<div id="content" >
  <sa-widgets-grid>

    <div class="row">

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
            <h2>设备电耗统计</h2>
            <div class="widget-toolbar">
              <button  class="btn btn-xs btn-default" routerLink="/energy/energy-consume-electricity" >查看表格</button>
            </div>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <div class="col-md-6 col-sm-6 col-xs-12 text-align-center">
                <div class="tab-list ">
                  <ul>
                    <li class="tab-li" [ngClass] = "item==0 ? 'tab-list-active' : ''" (click)="OnItemClick(0)">日累计</li>
                    <li class="tab-li" [ngClass] = "item==1 ? 'tab-list-active' : ''" (click)="OnItemClick(1)">周累计</li>
                    <li class="tab-li" [ngClass] = "item==2 ? 'tab-list-active' : ''" (click)="OnItemClick(2)">月累计</li>
                    <li class="tab-li" [ngClass] = "item==3 ? 'tab-list-active' : ''" (click)="OnItemClick(3)">季累计</li>
                    <li class="tab-li" [ngClass] = "item==4 ? 'tab-list-active' : ''" (click)="OnItemClick(4)">年累计</li>
                  </ul>
                </div>
                <div class="tab-content">
                  <div [style.display] = "item == 0 ? 'block' : 'none'">
                    <div theme = "macarons"  echarts [options]="energyoption" style="width: 100%;height:400px;" class="demo-chart"></div>
                  </div>
                  <div [style.display] = "item == 1 ? 'block' : 'none'">周累计</div>
                  <div [style.display] = "item == 2 ? 'block' : 'none'">月累计</div>
                  <div [style.display] = "item == 3 ? 'block' : 'none'">季累计</div>
                  <div [style.display] = "item == 4 ? 'block' : 'none'">年累计</div>
                </div>

              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 text-align-center" style="margin-top: 60px;">
                <div  theme = "macarons" echarts [options]="energy2option" style="width: 100%;height:400px;" class="demo-chart"></div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>




    </div>



  </sa-widgets-grid>
</div>