<div id="content" >
  <sa-widgets-grid>

    <div class="row">

      <div class="col-sm-12">
        <div class="text-align-center">
          <div class="tab-list ">
            <ul>
              <li class="tab-li " routerLink="/style/style-dashboard">dashboard</li>
              <li class="tab-li "  routerLink="/style/style-table">table</li>
              <li class="tab-li" routerLink="/style/style-form">form</li>
              <li class="tab-li" routerLink="/style/style-layouts">layouts</li>
              <li class="tab-li tab-list-active" routerLink="/style/style-color">color</li>
              <li class="tab-li" routerLink="/style/style-buttons">buttons</li>
              <li class="tab-li" routerLink="/style/style-editors">editors</li>
              <li class="tab-li" routerLink="/style/style-carousel">carousel</li>
              <li class="tab-li" routerLink="/style/style-gis">gis</li>
              <li class="tab-li" routerLink="/style/style-view">view</li>
              <li class="tab-li" routerLink="/style/style-scada">scada</li>
            </ul>
          </div>
        </div>
      </div>




    </div>



  </sa-widgets-grid>
</div>