<!--牙轮生产智能指挥模块-加油调度-->

<div id="content">
  <sa-widgets-grid>

    <div class="row">

      <div class="col-sm-12">
        <ul class="nav nav-tabs mi-nav-tabs">
          <li ><a routerLink="/ansteel-mining/drilling-index">首页</a></li>
          <li><a routerLink="/ansteel-mining/drilling-status">状态</a></li>
          <li><a routerLink="/ansteel-mining/drilling-alarm">报警</a></li>
          <li><a routerLink="/ansteel-mining/drilling-task">任务列表</a></li>
          <li ><a routerLink="/ansteel-mining/drilling-dutyshift">交接班</a></li>
          <li class="active"><a routerLink="/ansteel-mining/drilling-fuelling">加油调度</a></li>
        </ul>
      </div>


    </div>



  </sa-widgets-grid>
</div>
