
<!--巡检管理系统-巡检任务列表-->
<div id="content" >
  <sa-widgets-grid>

    <div class="row">

      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>巡检任务列表</h2>
            <div class="widget-toolbar">
              <button  class="btn btn-xs btn-default" routerLink="/patrol/patrol-task-view" >查看视图</button>
            </div>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <div class="">
                <table class="table table-striped smart-form table-height-20 ">
                  <thead class="">
                  <tr>
                    <th>日期</th>
                    <th>时间</th>
                    <th>巡检目的地</th>
                    <th>巡检任务</th>
                    <th>巡检人员</th>
                    <th>执行状态</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- class="table-color"-->
                  <tr>
                    <td>2019-01-23</td>
                    <td>08：40</td>
                    <td>巡检地址</td>
                    <th>巡检任务</th>
                    <td>张三</td>
                    <td >
                      <div>
                        <span class="label-maintain" >执行中</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2019-01-23</td>
                    <td>08：40</td>
                    <td>巡检地址</td>
                    <th>巡检任务</th>
                    <td>张三</td>
                    <td >
                      <div>
                        <span class="label-maintain" >执行中</span>
                      </div>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="dib-left">
                  <span>共3条</span>
                </div>
                <div class=" hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li class="disabled">
                      <a href="">上一页</a>
                    </li>
                    <li class="active">
                      <a href="">1</a>
                    </li>
                    <li >
                      <a href="">2</a>
                    </li>
                    <li>
                      <a href="">...</a>
                    </li>
                    <li>
                      <a href="">99</a>
                    </li>
                    <li>
                      <a href="">下一页</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>



    </div>



  </sa-widgets-grid>
</div>


<!-- 详情 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'>S0001 A区实时监控</h3>
      </div>
      <div class="modal-body">
        <b data-ng-bind='results.message'></b>
        <div class="" style="height:auto;">
          <img alt="" class="img-picture" height="auto" width="100%" src="assets/img/qidashan/bg2.jpg">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>